$gibraltar-sea: (
  50 : #e2e9e7,
  100 : #b7c8c4,
  200 : #87a39d,
  300 : #567e75,
  400 : #326258,
  500 : #0e4641,
  600 : #0c3f34,
  700 : #0a372c,
  800 : #082f25,
  900 : #042018,
  A100 : #5dffcc,
  A200 : #2affbc,
  A400 : #00f6a8,
  A700 : #00dc97,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $light-primary-text,
    400: $light-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $dark-primary-text,
    A700: $dark-primary-text,
  )
);

$young-raddish: (
  50 : #faeceb,
  100 : #f2cfce,
  200 : #eaafad,
  300 : #e18f8c,
  400 : #da7773,
  500 : #d45f5a,
  600 : #cf5752,
  700 : #c94d48,
  800 : #c3433f,
  900 : #b9322e,
  A100 : #fffdfc,
  A200 : #ffcbc9,
  A400 : #ff9996,
  A700 : #ff817d,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $dark-primary-text,
    A700: $dark-primary-text,
  )
);

$ashy-green: (
  50 : #f5f7f2,
  100 : #e5ece0,
  200 : #d4dfcb,
  300 : #c2d2b6,
  400 : #b5c9a6,
  500 : #a8bf96,
  600 : #a0b98e,
  700 : #97b183,
  800 : #8da979,
  900 : #7d9b68,
  A100 : #ffffff,
  A200 : #ebffde,
  A400 : #cdffab,
  A700 : #bdff91,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $dark-primary-text,
    600: $dark-primary-text,
    700: $dark-primary-text,
    800: $dark-primary-text,
    900: $dark-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $dark-primary-text,
    A700: $dark-primary-text,
  )
);
